{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/classroom.css' %}">
{% endblock %}

{% block main %}
    <form action='' method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <p>Name:  {{ form.name }}</p>
        <p>Company:  {{ form.company }}</p>
        <p>Position:  {{ form.position }}</p>
        <p>Profile Picture:  {{ form.profile_pic }}</p>
        <p>Background Color:  {{ form.background_color }}</p>
        <p>Work Location:  {{ form.location }}</p>
        <p>College:  {{ form.school }}</p>
        <p>Degree:  {{ form.degree }}</p>
        <p>Experience:  {{ form.experience }}</p>
        <p>Skills:  {{ form.skills }}</p>
        <p>Endorsements:  {{ form.endorsements }}</p>
        <div class="centered-div">
            <input class='aps-btn' type='submit' name='Submit' value='Submit'/> 
        </div>
    </form>
    {% if error %}
        <p class='error'>{{ form.errors }}</p>
    {% endif %}
{% endblock %}
