{% extends "base_with_head.html" %}

{% load static %}

{% block main %}
    <p class='header-1'>Career Matching Lesson</p>
    <p>
        This survey is a tool to use with the STEP UP Careers in Physics Lesson.  It will ask you to think about your goals, interests, and what is important to you
         for a career.  After taking this survey, this tool will find profiles of people with physics degrees and their jobs that you might not have considered for yourself.
    </p>
    <p>After taking the survey, you can view all of the career profiles by clicking on the “Profiles" link at the top of the page.</p>
    <p>If your teacher has asked you to, login into the classroom with the credentials they gave you to create your own physics profile.</p>
    <br>
    <br>
    <div class="centered-div">
        <a href="{% url 'quiz:survey' %}"><button class='aps-btn'>Start Career Matching!</button></a>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'login' %}"><button class='aps-btn'>Login to Class</button></a>
            {% else %}
                <a href="{% url 'classroom:classroom' %}"><button class='aps-btn'>Go to Class</button></a>
            {% endif %}
        {% else %}
            <a href="{% url 'classroom:classroom' %}"><button class='aps-btn'>Login to Class</button></a>
        {% endif %}
        <a href="{% url 'classroom:create' %}"><button class='aps-btn'>Create Class</button></a>
    </div>
{% endblock %}
