{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block main %} 
    {% for i in profiles %}
        <div class='row'>
            <div class='col-lg-4 col-md-5 col-sm-5 col-xs-12 centered-div'>
                <img class="profile-img" src='{{ i.image.url }}' alt='Profile picture'/>
            </div>
            <div class='col-lg-8 col-md-7 col-sm-7 col-xs-12'>
                <p class="profile-info"><strong>{{ i }}</strong> - {{ i.job }}</p>
                <a class="profile-link" href='{{ i.link }}'>Learn More</a>
                <p>{{ i.description }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
