{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block main %}  
    <form action='' method='post'>
        {% csrf_token %}
        {% if form.errors.question_1 %}
            <p class='error'>{{ form.errors.question_1 }}</p>
        {% elif form.errors.question_2 %}
            <p class='error'>{{ form.errors.question_2 }}</p>
        {% elif form.errors %}
            <p class='error'>{{ form.errors }}</p>
        {% endif %}
        <p>In what role are you doing this career matching?</p>
        <div>{{ form.question_type }}</div>
        <br>
        <p>Mark the <strong>THREE</strong> most important factors for your future career satisfaction:</p>
        <div>{{ form.question_1 }}</div>
        <br>
        <p>Mark <strong>TWO</strong> areas you are most interested in:</p>
        <div>{{ form.question_2 }}</div>
        <div class="centered-div">
            <input class='aps-btn' type='submit' name='Submit' value='Get Results!'/> 
        </div>
    </form>
{% endblock %}
