{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .main1 {
            background-color:rgba(138, 84, 168, .6);
        }
        .main2 {
            background-color:#9bc1b4;
        }
        .main3 {
            background-color:#c5dafc;
        }
        .button {
            width:25%;
            margin:10px;
            font-size:120%;
            background-color:#9bc1b4;
        }
    </style>
{% endblock %}

{% block main %}
    <div class='main1'>
        <h3 style='text-align:center;padding:10px;'>Frequency of Answers</h3>
        <div class='row' style='padding-left:15px'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                <h5 style='text-align:left;padding:5px;text-decoration:underline;'>Q1 Answers:</h5>
                {% for o in self_counts_q1 %}
                    <p style='text-align:left'><b>{{ o.0 }}:</b> {{ o.1 }}</p>
                {% endfor %}
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
                <h5 style='text-align:left;padding:5px;text-decoration:underline;'>Q2 Answers:</h5>
                {% for o in self_counts_q2 %}
                    <p style='text-align:left'><b>{{ o.0 }}:</b> {{ o.1 }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='row' style='padding-left:15px'>
        <div class='main2 col-lg-6 col-md-12 col-sm-12 col-xs-12'>
            <h3 style='text-align:center;padding:10px;'>Question 1 Statistics</h3>
            <h5 style='text-align:left;padding:5px;text-decoration:underline;'>Common Q1 Answers Given:</h5>
            {% for o in q1_to_q1 %}
                {% if o.1 %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   {{ o.1.0.0 }}, {{ o.1.1.0 }}, {{ o.1.2.0 }}</p>
                {% else %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   No data available</p>
                {% endif %}
            {% endfor %}
            <h5 style='text-align:left;padding:5px;text-decoration:underline;'>Common Q2 Answers Given:</h5>
            {% for o in q1_to_q2 %}
                {% if o.1 %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   {{ o.1.0.0 }}, {{ o.1.1.0 }}, {{ o.1.2.0 }}</p>
                {% else %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   No data available</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class='main3 col-lg-6 col-md-12 col-sm-12 col-xs-12'>
            <h3 style='text-align:center;padding:10px;'>Question 2 Statistics</h3>
            <h5 style='text-align:left;padding:5px;text-decoration:underline;'>Common Q1 Answers Given:</h5>
            {% for o in q2_to_q1 %}
                {% if o.1 %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   {{ o.1.0.0 }}, {{ o.1.1.0 }}, {{ o.1.2.0 }}</p>
                {% else %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   No data available</p>
                {% endif %}
            {% endfor %}
            <h5 style='text-align:left;padding:5px;text-decoration:underline;'>Common Q2 Answers Given:</h5>
            {% for o in q2_to_q2 %}
                {% if o.1 %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   {{ o.1.0.0 }}, {{ o.1.1.0 }}, {{ o.1.2.0 }}</p>
                {% else %}
                    <p style='text-align:left;padding-left:5px;'><b>{{ o.0 }}:</b>   No data available</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class='row' style='text-align:center;background-color:rgba(138, 84, 168, .6);'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <a href="{% url 'quiz:reset' %}" onclick="return confirm('Are you sure that you want to delete all statistics? You will be redirected back to the home page.')"><button class='button'>Reset Data</button></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}