{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/quiz.css' %}">
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer2", {
            animationEnabled: true,
            data: [{
                type: "doughnut",
                startAngle: 60,
                //innerRadius: 60,
                indexLabelFontSize: 17,
                indexLabel: "{label} - {y}",
                toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                dataPoints: [
                    { y: parseInt('{{ self_counts_q1.0.1 }}'), label: "{{ self_counts_q1.0.0 }}" },
                    { y: parseInt('{{ self_counts_q1.1.1 }}'), label: "{{ self_counts_q1.1.0 }}" },
                    { y: parseInt('{{ self_counts_q1.2.1 }}'), label: "{{ self_counts_q1.2.0 }}" },
                    { y: parseInt('{{ self_counts_q1.3.1 }}'), label: "{{ self_counts_q1.3.0 }}" },
                    { y: parseInt('{{ self_counts_q1.4.1 }}'), label: "{{ self_counts_q1.4.0 }}" },
                    { y: parseInt('{{ self_counts_q1.5.1 }}'), label: "{{ self_counts_q1.5.0 }}" },
                    { y: parseInt('{{ self_counts_q1.6.1 }}'), label: "{{ self_counts_q1.6.0 }}" },
                    { y: parseInt('{{ self_counts_q1.7.1 }}'), label: "{{ self_counts_q1.7.0 }}" },
                    { y: parseInt('{{ self_counts_q1.8.1 }}'), label: "{{ self_counts_q1.8.0 }}" },
                    { y: parseInt('{{ self_counts_q1.9.1 }}'), label: "{{ self_counts_q1.9.0 }}" },
                    { y: parseInt('{{ self_counts_q1.10.1 }}'), label: "{{ self_counts_q1.10.0 }}" },
                ]
            }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            data: [{
                type: "doughnut",
                startAngle: 60,
                //innerRadius: 60,
                indexLabelFontSize: 17,
                indexLabel: "{label} - {y}",
                toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                dataPoints: [
                    { y: parseInt('{{ self_counts_q2.0.1 }}'), label: "{{ self_counts_q2.0.0 }}" },
                    { y: parseInt('{{ self_counts_q2.1.1 }}'), label: "{{ self_counts_q2.1.0 }}" },
                    { y: parseInt('{{ self_counts_q2.2.1 }}'), label: "{{ self_counts_q2.2.0 }}" },
                    { y: parseInt('{{ self_counts_q2.3.1 }}'), label: "{{ self_counts_q2.3.0 }}" },
                    { y: parseInt('{{ self_counts_q2.4.1 }}'), label: "{{ self_counts_q2.4.0 }}" },
                    { y: parseInt('{{ self_counts_q2.5.1 }}'), label: "{{ self_counts_q2.5.0 }}" },
                    { y: parseInt('{{ self_counts_q2.6.1 }}'), label: "{{ self_counts_q2.6.0 }}" },
                ]
            }]
        });
        chart.render();
        }
    </script>
{% endblock %}

{% block main %}
    <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
            <p class="header-1">Question 1 Answers</p>
            <div id="chartContainer1" class="chart"></div>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
            <p class="header-1">Question 2 Answers</p>
            <div id="chartContainer2" class="chart"></div>
        </div>
    </div>
    <div class='centered-div'>
        <a href="{% url 'quiz:getfile' %}"><button class='aps-btn'>Download CSV</button></a>
        <form action='' method='post'>
            {% csrf_token %}
            <input class='aps-btn' onclick="return confirm('Are you sure that you want to delete all statistics?')" type='submit' name='Submit' value='Reset Data'/>    
        </form>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}